# Cache crap that Valve autogenerates
*.bin
*.cfg
debug.log

# Compiled formats
*.vpcf_c
*.vtex_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c
*Thumbs.db

# Commit panorama compiled textures
!game/dota_addons/dotacraft/panorama/images/*.vtex_c
!game/dota_addons/dotacraft/panorama/images/custom_game/*.vtex_c
!game/dota_addons/dotacraft/materials/overviews/*


# Map overviews
content/dota_addons/dotacraft/materials/overviews/*.vmat
content/dota_addons/dotacraft/materials/overviews/*.txt
game/dota_addons/dotacraft/resource/overviews/*

#Github dump
*.stackdump
.project
game/dota_addons/gemtowerdefense/maps/gemmap.vpk
