#debug-panel {
  margin-left: 100px;
  flow-children: down;
}

Label {
  font-family: Radiance;
  color: #fff;
  font-size: 16px;
  text-align: center;
  horizontal-align: center;
}

Button:hover {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #545473 ), to( #434359 ) );
}

Button {
  width: 100px;
  horizontal-align: center;
  margin: 10px 0 10px 6px;
  padding: 7px 10px;
  background-color: #414159;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #414159 ), to( #303040 ) );
  border: 1px solid #737399;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}