Label {
  font-family: Radiance;
  font-size: 17px;
  color: #dddddd;
}

.leaderboard-root {
  flow-children: down;
  /*padding-right: 8px;*/
}

#leaderboard-tabs {
  width: 100%;
}

.leaderboard-tab {
  visibility: collapse;
  width: 100%;
}

.leaderboard-tab-activated {
  visibility: visible;
}

#leaderboard-nav {
  flow-children: right;
  padding: 5px 10px 7px;
  border-bottom: 1px solid #646475;
}

.tab-separator {
  margin: -1px 7px 0;
  font-size: 17px;
  vertical-align: middle;
  color: #5D5D75;
}

.leaderboard-button > Label {
  font-size: 17px;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: 1px;
  color: #777796;
  transition-property: color;
  transition-duration: 0.2s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in; 
}

.leaderboard-button > Label:hover {
  color: #fcfcfc;
}

.leaderboard-button-active > Label {
  color: #fcfcfc;
  text-shadow: 0px 0px 12px #ACBFDDa5;
}

.leaderboard-list {
  width: 100%;
  flow-children: down;
}

.leaderboard-item {
  background-color: gradient(linear, 100% 0%, 0% 0%, from( #121217 ), to( #2c2c40) );
  /*margin: 0 5px 5px;*/
  width: 100%;
  border: 1px solid #ffffff01;
  border-bottom: 1px solid #ffffff05;
  padding: 7px 8px;
}

.leaderboard-place {
  vertical-align: middle;
  height: 100%;
  width: 55px;
}

#leaderboard-place-value {
  margin-top: 4px;
  font-size: 29px;
  align: center center;
  text-align: center;
  color: #A5A5CF;
  font-weight: thin;
}

#leaderboard-players {
  flow-children: right;
  vertical-align: middle;
  margin-left: 57px;
}

.leaderboard-player {
  flow-children: right;
  vertical-align: middle;
}

.leaderboard-player-avatar {
  height: 64px;
  margin-right: 7px;
}

#leaderboard-player-username {
  font-size: 20px;
  vertical-align: middle;
  text-overflow: shrink;
  max-width: 350px;
  margin-left: 5px;
}

#leaderboard-player-username > Label {
  font-size: 24px;
  color: #ebebff;
}

.leaderboard-score {
  horizontal-align: right;
  vertical-align: middle;
}

#leaderboard-score-value {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #cca86e;
}