Label {
  color: #cccccc;
}

.profile-root {
  width: 100%;
  flow-children: down;
  min-width: 600px;
  /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000aa ), to( #00000000) );*/
}

.profile-inner {
  width: 100%;
  flow-children: down;
}

.profile-player {
  background-color: #171721de;
  border-top: 1px solid #ffffff09;
  border-bottom: 1px solid #ffffff05;
  padding: 12px 10px;
  width: 100%;
  flow-children: right;
  vertical-align: middle;
}

#profile-player-avatar {
  height: 67px;
  width: 66px;
  vertical-align: middle;
  box-shadow: inset #000000 0px 0px 5px 0px;
}

#player-level-container {
  margin-left: 50px;
  width: 100%;
  vertical-align: middle;
}

.profile-player-column {
  flow-children: down;
  vertical-align: middle;
  margin-left: 7px;
  max-width: 170px;
}

.profile-player-rank {
  width: 70px;
  horizontal-align: center;
}

#profile-player-username {
  max-height: 31px;
  margin-top: -8px;
  text-align: center;
}

#profile-player-username > Label {
  font-family: Radiance;
  font-size: 24px;
  color: #ffffff;
}

.player-rank {
  width: 100%;
}

.player-rank-inner {
  align: center center;
}

.player-rank-icon {
  horizontal-align: center;
  width: 40px;
  height: 20px;
  background-image: url("file://{resources}/images/custom_game/test2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#player-rank-value {
  align: center center;
  text-align: center;
  font-size: 13px;
  padding-right: 1px;
  margin-top: 2px;
  font-weight: bold;
  color: #fff;
  font-family: Radiance;
  text-shadow: 0px 0px 4px 4 #00000077;
}

.player-color-overlay {
  height: 100%;
  width: 100%;
  background-color: gradient( linear, 0% 0%, 100% 50%, from( #2b2e2faa ), color-stop( 0.15, #00ff0002 ), to( #2b2e2fad ) );
  border-bottom: 1px solid #000000aa;
  border-top: 1px solid #000000aa;
}

.profile-stats {
  padding: 18px 15px;
  width: 100%;
}

.profile-stats-header {
  text-transform: uppercase;
  font-size: 16px;
}