.castle-health-element {
  width: 100%;
  height: 100%;
}

#castle-health-container {
  flow-children: down;
  horizontal-align: center;
  vertical-align: top;
  margin-left: 550px;
}

#castle-health-title {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px 2.0 #2b2b2bb3;
  align: right center;
  font-family: Radiance;
  margin-top: 2px;
  margin-right: 3px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-overflow: clip;
}

#castle-health {
  width: 380px;
  height: 26px;
}

#castle-health-value {
  font-family: RadianceM;
  font-size: 17px;
  color: white;
  align: center center;
  vertical-align: middle;
  text-shadow: 1px 1px 1px 2.0 #2b2b2bb3;
  font-weight: bold;
  z-index: 10;
}

#castle-health-inner {
  border-radius: 3px;
  border: 1px solid #288228;
  width: 100%;
  height: 100%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c1c1c ), to( #353535 ) );
}


#castle-health-progress {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #53ac5c ), to( #014101 ) );
  width: 100%;
  border-right: 1px solid #425d25;
  height: 100%;
}

#castle-health-status {
  width: 100%;
  height: 70px;
}

.health-changed {
  align: center top;
  padding-right: 5px;
}

.health-changed Label {
  transform: translateY(-20px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.18s, 0.12s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in;
}

#health-changed .health-changed-value {
  color: #f34d40;
  font-size: 32px;
  font-weight: bold;
  font-family: Radiance;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px 2.0 #33333377;
  text-align: center;
  opacity: 1;
  transform: translateY(0px);
}

#health-changed .health-changed-healed {
  color: #4caf50;
}


.test-container {
  flow-children: down;
  align: right center;
}

.btn-test {
  background-color: #fff;
  margin: 10px;
  color: #1c1c1c;
  padding: 7px 10px;
  font-size: 16px;
}