.damage-graph-root {
  horizontal-align: right;
  margin-top: 150px;
}

#graph {
  width: 340px;
  flow-children: down;
  background-color: gradient(linear, 100% 0%, 0% 0%, from( #23233344), color-stop(.7, #23233310), to( #12121700) );
}

.graph-item {
  width: 100%;
  background-color: gradient(linear, 100% 0%, 0% 0%, from( #282840 ), color-stop(.7, #23233333), to( #12121700));
  margin-bottom: 3px;
  padding: 2px;
}

#graph-tower {
  height: 43px;
  horizontal-align: right;
  width: 43px;
  border-radius: 50%;
  border: 2px solid #6868AB;
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #646496 ), to( #2b2b40 ) );
  box-shadow: fill #0009 -2px -2px 4px 4px;
}

#graph-damage-value {
  align: right center;
  margin-top: 1px;
  margin-right: 48px;
  text-align: right;
  color: #ebebff;
  text-shadow: 1px 1px 1px 2.0 #171721d5;
  font-size: 14px;
}

#graph-item-background {
  width: 50%;
  height: 18px;
  background-color: gradient(linear, 0% 0%, 100% 0%, from( #5b5b82aa ), color-stop(.65, #60609499 ), to( #97a0cc75));
  align: right center;
  margin-right: 36px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  transition-property: width;
  transition-duration: 0.12s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}