.CustomUIState_HUD {
  height: 100%;
  width: 100%;
}

#top-bar-container {
  flow-children: right;
  min-width: 1090px;
  horizontal-align: center;
}

#castle-health-container {
  flow-children: down;
  horizontal-align: right;
}

#castle-health-title {
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 2px 3 #00000066;
  vertical-align: middle;
  font-family: Radiance;
  margin-top: 2px;
  margin-right: 3px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-overflow: clip;
}

#castle-health {
  width: 450px;
  height: 25px;
}

#castle-health-value {
  font-family: RadianceM;
  font-size: 18px;
  color: white;
  text-align: center;
  width: 100%;
  vertical-align: middle;
  text-shadow: 1px 1px 2px 2.0 #000000;
  margin-top: 3px;
  font-weight: bold;
  z-index: 10;
}

#castle-health-inner {
  border-radius: 3px;
  width: 100%;
  height: 25px;
  box-shadow: #00000066 -2px -2px 4px 4px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #17200d  ), color-stop( 0.2, #222e13 ), color-stop( .5, #1e2911), to( #17200d) );
}


#castle-health-progress {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #425d25  ), color-stop( 0.2, #5BA539 ), color-stop( .5, #4D9030), to( #425d25) );
  width: 100%;
  border-right: 1px solid #425d25;
  height: 25px;
}



/*ROUND STYLES*/

.round-root {
  horizontal-align: left;
  vertical-align: top;
}

.round-panel {
  flow-children: down;
  width: 100px;
  height: 100px;
  background-image: url("file://{images}/custom_game/goal_logo.psd");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.aspect-ratio16x10 .round-ranel {
  /*margin-left: 370px;*/
}

.aspect-ratio4x3 .round-panel {
  /*margin-left: 225px;*/
}

#round {
  margin-top: 4px;
  font-size: 17px;
  font-weight: bold;
  color: #9e7305;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  text-overflow: clip;
}

#round-number {
  margin-top: -15px;
  horizontal-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-family: Radiance;
  font-size: 63px;
  color: white;
  text-shadow: 2px 2px 2px #7b612b;
  color: gradient( linear, 0% 0%, 0% 100%, from( #c88423), color-stop( 0.25, #c88423), color-stop( 0.5, #fffb84), color-stop( 0.75, #c88423), to( #9a6717));
  text-overflow: clip;
}


