.hero-selection-root {
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

DOTAHudMenuButtons {
  margin-top: 11px;
  margin-left: 6px;
}

.hero-selection-wrap {
  width: 100%;
  height: 100%;
  align: center center;
  flow-children: down;
}

#hero-selection-background {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  horizontal-align: center;
  background-color:#21262e;
  transition-property: transform, blur, opacity, wash-color;
  transition-duration: 0.45s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in;
}

.hero-selection-overlay {
  height: 100%;
  width: 100%;
}


.hero-selection-title {
  font-size: 36px;
  color: #fcfcfc;
  font-family: Radiance;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  align: center top;
  padding: 10px;
  margin-top: 70px;
  margin-bottom: 90px;
  text-shadow: 0px 0px 12px #AFC2F755;
}

.hero-selection-inner > Panel {
  width: fill-parent-flow(1.0);
}

.hero-selection-inner {
  flow-children: right;
  align: center top;
  width: 95%;
}

.hero-list {
  margin-top: 70px;
  horizontal-align: left;
}

.hero-list-inner {
  max-width: 475px;
  flow-children: right-wrap;
}

.hero-item {
  width: 80px;
  height: 80px;
  border: 2px solid #000000;
  margin: 7px;
  box-shadow: fill #00000055 -2px -2px 4px 4px;
  saturation: 0.7;
  transition-property: saturation, box-shadow;
  transition-timing-function: ease-in;
  transition-duration: .12s;
}

.hero-item.hero-selected {
  saturation: 1;
  border-color: #ACBFDD;
  box-shadow: -3px -3px 6px 6px #668BBCaa;
}

.hero-item.hero-selected:hover {
  box-shadow: -3px -3px 6px 6px #668BBCaa;
}

.hero-item:hover {
  saturation: 0.8;
  box-shadow: #00000077 -4px -4px 8px 8px;
}

.hero-item.hero-not-available {
  saturation: 0.0;
  brightness: .4;
  contrast: .96;
  wash-color: #C1CADD;
}

.hero-image {
  width: 100%;
  height: 100%;
}

.hero-preview-wrap {
  horizontal-align: center;
}

.hero-preview-inner {
  flow-children: down;
  width: 100%;
}

.hero-preview {
  min-height: 500px;
  min-width: 460px;
  horizontal-align: center;
}

#hero-preview-scene {
  width: 100%;
  height: 100%;
  opacity-mask: url('s2r://panorama/images/masks/softedge_box_png.vtex');
  opacity: 1;
  transition-property: opacity, transform;
  transition-duration: 0.1s;
}

#hero-name-title {
  font-size: 25px;
  height: 35px;
  padding: 5px;
  color: #fcfcfc;
  font-family: Radiance;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  horizontal-align: center;
  text-shadow: 0 0 5px #ACBFDD55;
}

#pick-hero-button {
  padding: 10px 24px 7px;
  margin-top: 40px;
  saturation: .5;
  horizontal-align: center;
  background-color: #29c87e11;
  border: 1px solid #29c87e55;
  transition-property: saturation;
  transition-timing-function: ease-in;
  transition-duration: .12s;
}

#pick-hero-button:hover {
  saturation: .8;
}

#pick-hero-button.pick-hero-disabled {
  saturation: 0;
}

.button-label {
  font-family: Radiance;
  color: #29c87e;
  font-size: 19px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.players-state-wrap {
  flow-children: down;
}

.players-state-inner {
  /*background-color: #29c87e11;*/
  horizontal-align: right;
  flow-children: down;
  width: 400px;
  
}

.players-state-wrap > Label {
  font-size: 25px;
  margin-bottom: 15px;
  color: #fff;
  font-family: Radiance;
  text-transform: uppercase;
  letter-spacing: 1px;
  horizontal-align: center;
}

.players-states-item {
  /*border: 1px solid black;*/
  flow-children: left;
  visibility: collapse;
  width: 100%;
  padding: 5px;
  background-color: #21262e55;
  margin-bottom: 5px;
}

.players-state-username {
  font-size: 25px;
  font-family: Radiance;
  color: #C1CADD;
  margin-right: 30px;
  vertical-align: middle;
}

.players-state-avatar {
  width: 55px;
}