.info-boards-element {
  width: 100%;
  height: 100%;
}

#boards-info {
  height: 100%;
  width: 100%;
  margin-top: 130px;
  margin-bottom: 270px;
}

#boards-nav {
  z-index: 10;
  margin-top: 220px;
  padding: 10px 30px 0 10px;
}

#boards-nav-container {
  padding: 20px 0;
  flow-children: down;
  transition-property: transform;
  transition-duration: 0.30s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in-out;
}

#boards-nav-container.hidden {
  transform: translateX(-100%);
}

.nav-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
  margin: 12px 0 12px 6px;
  border-top: 1px solid #ffffff44;
  border-right: 1px solid #4e5b60;
  border-left: 1px solid #4e5b60;
  border-bottom: 1px solid #00000088;
  box-shadow: fill #00000055 -2px -2px 5px 5px;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}

#button-formula {
  tooltip-position: bottom;
}

.nav-button:hover,
.nav-button.activated,
.minify-toggle:hover {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #a9c8da ), to( #596b75 ) );
}

.nav-button-title {
  align: center center;
  text-align: center;
  font-weight: bold;
  font-family: Radiance;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 0.2s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in;
}

/*boards styles*/

.info-board {
  flow-children: down;
  box-shadow: #000000f5 -4px -4px 8px 8px;
  height: 100%;
  width: 500px;
  border: 1px solid #2b2b2b;
  background-color: #21262efa;
  margin-top: 130px;
  margin-bottom: 200px;
  overflow: clip scroll;
  z-index: 5;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in;
}

.board-title {
  font-size: 36px;
  letter-spacing: 1px;
  color: #ccc;
  horizontal-align: center;
  text-align: center;
  text-transform: uppercase;
  font-family: Radiance;
  margin: 26px 0 20px;
}

.board-hidden {
  transform: translateX(-50%);
}


/*formula board styles*/

#board-formula {
  width: fit-children;
  margin: 0;
  padding: 25px 8px 0 0;
}

.minify-toggle {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #5a6c75 ), to( #3d4a50 ) );
  margin-right: 10px;
  border-top: 1px solid #ffffff44;
  padding: 5px 8px;
  border-right: 1px solid #4e5b60;
  border-left: 1px solid #4e5b60;
  border-bottom: 1px solid #00000088;
  horizontal-align: right;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}

#minify-label {
  font-size: 15px;
  text-align: center;
  color: #fff;
}

#formula-container {
  flow-children: down;
}

.formula-row {
  flow-children: right;
  margin-top: 7px;
  background-color: #111920aa;
  border-top: 1px solid #ffffff05;
  border-bottom: 1px solid #ffffff03;
  padding: 12px 12px 6px 8px;
}

.formula-tower {
  width: 100%;
}

.formula-tower-inner {
  horizontal-align: center;
  width: 88px;
  height: 88px;
  background-color: #4F656F;
  border-radius: 50%;
  border: 4px solid #cacaca;
  background-image: url("file://{resources}/images/custom_game/gems/gem_ruby.png");
  background-size: 85%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  saturation: 0.0;
  brightness: .5;
  contrast: .96;
  wash-color: #ACBFDD;
}

.formula-item {
  flow-children: down;
  width: 115px;
}

.formula-item-picked .component-name {
  color: #cacaca;
}

.formula-item-pulled .component-name {
  text-shadow: 0px 0px 12px #ACBFDD88;
  color: #ffffff;
}

.formula-item-pulled .formula-tower-inner {
  border-color: #f5f5f5;
  box-shadow: #8999b0cc -2px -2px 4px 4px;
  brightness: 1.1;
}

.formula-item-picked .formula-tower-inner {
  saturation: 1;
  brightness: 1;
  wash-color: none;
  contrast: 1;
}

.formula-component-tier {
  vertical-align: bottom;
  horizontal-align: right;
  margin-right: 14px;
  padding-top: 6px;
  width: 31px;
  height: 31px;
  background-color: #2B2B2B;
  color: #f34d40;
  border-radius: 50%;
  border: 2px solid #A4A4A4;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
}

.text {
  color: #ECECEC;
  font-size: 20px;
  font-family: Radiance;
}

.component-name {
  text-align: center;
  horizontal-align: center;
  vertical-align: bottom;
  margin-top: 5px;
  color: #7E8A9E;
}

.formula-mark {
  font-size: 30px;
  font-weight: bold;
  color: #ececec;
  font-family: Radiance;
  text-align: center;
  margin-top: 25px;
}

.formula-result .formula-tower-inner {
  border-color: #ececec;
}

.board-formula-min .formula-row {
  margin-top: 4px;
}

.board-formula-min .formula-tower {
  visibility: collapse;
}

.board-formula-min .formula-item {
  width: 75px;
  margin: 0 12px;
}

.board-formula-min .formula-mark {
  margin-top: 0;
  vertical-align: middle;
}

.board-formula-min .formula-row {
  padding: 7px 0px;
}

.board-formula-min .formula-mark {
  font-size: 22px;
  font-weight: normal;
}

.board-formula-min .component-name {
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
}

.board-profile {
  flow-children: down;
  width: 100%;
  /*height: 100%;*/
}

#board-profile-container {
  /*padding: 15px;*/
  width: 100%;
  /*height: 700px;*/
  flow-children: down;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000aa ), to( #00000000) );
}

.board-profile-inner {
  width: 100%;
  flow-children: down;
}

.profile-player {
  background-color: #000;
  padding: 10px;
  width: 100%;
  flow-children: right;
  vertical-align: middle;
}

.profile-player-image {
  height: 67px;
  width: 66px;
  vertical-align: middle;
}

#player-level-container {
  /*padding: 15px;*/
  margin-left: 50px;
  width: 100%;
  vertical-align: middle;
}

.profile-player-column {
  flow-children: down;
  vertical-align: middle;
  margin-left: 7px;
}

.profile-player-rank {
  width: 70px;
  horizontal-align: center;
}

#profile-player-username > Label {  
  font-size: 24px;
  text-align: center;
  font-family: Radiance;
}

.player-rank {
  width: 100%;
  background-color: #f5db4b;
  border-top: 1px solid #00000077;
  border-radius: 4px;
}

.player-rank-wrap {
  align: center center;
  padding-bottom: 2px;
  padding-right: 1px;
  flow-children: right;
  color: #fff;
  font-family: Radiance, FZLanTingHei-R-GBK, TH Sarabun New, YDYGO 540,Gulim, MingLiU;
  font-size: 13px;
}

.player-rank-overlay {
  background-color: gradient( linear, 0% 0%, 100% 0%, from( #4e5a789a ), color-stop( .3, #42566335 ), color-stop( .7, #42566335 ), to( #4e5a789a) );
  width: 100%;
  height: 100%;
}

.player-rank-wrap > Label {
  text-align: center;
  vertical-align: middle;
}

.player-rank-label {
  color: #fff;
  font-size: 13px;
  /*font-family: Radiance;*/
  text-shadow: 1px 1px 1px 1.5 #2b2b2bdd;
}

#player-rank-value {
  color: #fff;
  font-size: 13px;
  text-shadow: 1px 1px 1px 2.0 #2b2b2bb3;
  font-weight: bold;
}

.player-color-overlay {
  height: 100%;
  width: 100%;
  background-color: gradient( linear, 0% 0%, 100% 50%, from( #2b2e2faa ), color-stop( 0.15, #00ff0002 ), to( #2b2e2fad ) );
  border-bottom: 1px solid #000000aa;
  border-top: 1px solid #000000aa;
}

.board-profile-stats {
  padding: 18px 15px;
  width: 100%;
}

.profile-stats-header {
  text-transform: uppercase;
}