.info-tabs-root {
  width: 100%;
  height: 100%;
}

Label {
  color: #bbbbbb;
  font-family: Radiance;
}

VerticalScrollBar, HTMLVerticalScrollBar {
  background-color: #171721cc;
  margin: 0px, 8px, 0px 8px;
  width: 8px;
  horizontal-align: right;
  vertical-align: center;
  transition-property: transform;
  height: 100%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

VerticalScrollBar .ScrollThumb {
  background-color: #404052;
  min-height: 32px;
  width: 100%;
  border: 1px solid #ffffff02;
  transition-property: background-color, transform;
}

#tabs-info {
  height: 100%;
  width: 100%;
  margin-top: 130px;
  margin-bottom: 270px;
}

#tabs-nav {
  z-index: 10;
  margin-top: 220px;
  padding: 10px 30px 0 10px;
}

#tabs-nav-container {
  padding: 20px 0;
  flow-children: down;
  transition-property: transform;
  transition-duration: 0.35s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in-out;
}

#tabs-nav-container.hidden {
  transform: translateX(-100%);
}

.nav-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 12px 0 12px 6px;
  background-color: #414159;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #414159 ), to( #303040 ) );
  border: 1px solid #737399;
  box-shadow: fill #00000055 -2px -2px 5px 5px;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}

#button-formula {
  tooltip-position: bottom;
}

.nav-button:hover,
.nav-button.activated {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #545473 ), to( #434359 ) );
}

.nav-button-title {
  align: center center;
  text-align: center;
  font-weight: bold;
  font-family: Radiance;
  font-size: 14px;
  color: #ebebff;
  text-transform: uppercase;
  transition-property: color;
  transition-duration: 0.2s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in;
}

.info-tab {
  flow-children: down;
  box-shadow: #000000f5 -4px -4px 8px 8px;
  min-height: 650px;
  min-width: 500px;
  padding: 24px 0 0;
  vertical-align: middle;
  width: fit-children;
  border: 1px solid #161624f3;
  border-left: 1px solid #000;
  background-color: #21212efd;
  /*margin-top: 130px;*/
  margin-bottom: 50px;
  overflow: clip scroll;
  z-index: 5;
  transition-property: transform;
  transition-duration: 0.32s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in-out;
}

#tab-formula {
  width: fit-children;
  margin: 0;
  padding: 25px 8px 0 0;
  min-width: 0;
}

.tab-title {
  font-size: 26px;
  letter-spacing: 2px;
  color: #ebebff;
  horizontal-align: center;
  text-align: center;
  text-transform: uppercase;
  font-family: Radiance;
  margin: 10px 0 15px;
}

.tab-hidden {
  transform: translateX(-40%);
}

.minify-toggle {
  margin-right: 10px;
  wash-color:#8484b0;
  border: 1px solid #73739955;
  height: 30px;
  width: 30px;
  horizontal-align: right;
  transition-property: background-color;
  transition-duration: 0.09s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}

.minify-toggle:hover {
  wash-color: #afafdb;
}

.minify-toggle-icon {
  width: 100%;
  height: 100%;
  background-position: 50% 50%;
  background-image: url("s2r://panorama/images/control_icons/arrow_popout_png.vtex");
  background-size: 62%;
  background-repeat: no-repeat; 
}

#minify-label {
  font-size: 15px;
  text-align: center;
  color: #fff;
}