.players-bar-root {
  width: 50%;
}

#players-bar {
  margin-right: 65px;
  horizontal-align: right;
  flow-children: right;
  min-width: 300px;
}

.player-root {
  flow-children: down;
  border: 1px solid #25253077;
  border-top: 0;
  margin: 0 6px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: fill #0009 -3px -3px 6px 6px;
}

.player-wrap {
  flow-children: down;
}

#player-color {
  height: 5px;
  width: 100%;
  background-color: #2f99f0;
}

.player-rank {
  width: 100%;
  horizontal-align: right;
}

.player-rank-inner {
  width: 100%;
  padding: 2px;
  border-top: 1px solid #222a;
  margin-top: -5px;
  background-color: gradient( linear, 100% 0%, 0% 0%, from( #2c2b40 ), color-stop( .3, #4a4a70ff ), color-stop(.7, #4a4a70ff), to( #2c2b40 ) );
  padding-bottom: 2px;
}

.player-rank-icon {
  horizontal-align: center;
  width: 32px;
  height: 16px;
  background-image: url("file://{resources}/images/custom_game/test2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

#player-rank-value {
  align: center center;
  text-align: center;
  font-size: 12px;
  padding-right: 1px;
  margin-top: 0px;
  font-weight: bold;
  color: #fff;
  font-family: Radiance;
  text-shadow: 0px 0px 4px 4 #00000077;
}

.player-color-overlay {
  height: 100%;
  width: 100%;
  background-color: gradient( linear, 0% 0%, 100% 50%, from( #2b2e2faa ), color-stop( 0.15, #00ff0002 ), to( #2b2e2fad ) );
  border-bottom: 1px solid #000000aa;
  border-top: 1px solid #000000aa;
}

#player-avatar {
  box-shadow: inset #000000 0px 0px 5px 0px;
  width: 58px;
}