.player-level-root {
  flow-children: down;
  width: 100%;
}

.player-level-row {
  align: center center;
  padding: 0 25px;
}

#tab-profile .player-level-bar {
  width: 100%;
}

#tab-profile #player-level-exp {
  font-size: 13px;
}

#tab-profile #player-level-value {
  font-size: 18px;
}

.player-level-help {
  align: right middle;
  position: 20px -2px 0px;
  height: 16px;
  width: 16px;
  opacity: .4;
  wash-color: #C1CADD;
  background-image: url("s2r://panorama/images/status_icons/information_psd.vtex");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: .15s;
}

.player-level-help:hover {
  opacity: 1;
}

.player-level-badge {
  /*background-color: gradient( linear, 0% 0%, 0% 100%, from( #e4ca84 ), to( #747133 ) );*/
  horizontal-align: center;
  margin-bottom: -2px;
}

#player-level-value {
  /*color: gradient( linear, 0% 0%, 0% 100%, from( #e4ce67 ), to( #747133 ) );*/
  color: #e3cb62;
  font-family: Radiance;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 19px;
  font-weight: bold;
  align: center center;
  text-shadow: 1px 1px 2px 1.0 #000000aa;
}

.player-level-bar {
  width: 470px;
  vertical-align: bottom;
  border: 1px solid #000000dd;
  box-shadow: inset #1f2020CC 2px 2px 4px 4px;
  padding: 4px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #1c1c1c ), to( #353535 ) );
  border-radius: 2px;
}

.player-level-progress {
  height: 100%;
  width: 50%;
  background-color: gradient( linear, 0% 0%, 0% 100%, color-stop(0.0, #d4ba41), color-stop(0.50, #dbcd8c), color-stop(1.0, #d4ba41));
}

.player-level-label {
  align: center center;
}

#player-level-exp {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: Radiance;
  font-size: 15px;
  text-shadow: 1px 1px 2px 3.0 #00000088;
}