.preloader {
  height: 42px;
  width: 42px;
  background-image: url("s2r://panorama/images/status_icons/loadingthrobber_round_psd.vtex");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  wash-color: #a1a1cc;
  animation-name: PreloaderRotate;
  animation-duration: .75s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes 'PreloaderRotate' {
  0% {
      transform: rotateZ( 360deg );
  }
  50% {
      transform: rotateZ( 180deg );
  }
  100% {
      transform: rotateZ( 0deg );
  }
}