.round {
  horizontal-align: left;
  vertical-align: top;
  margin-top: 100px;
}

.round-container {
  flow-children: right;
  padding: 10px 0 10px 7px;
  background-color: gradient( linear, 0% 0%, 100% 0%, from( #425663cc ), color-stop( .5, #42566355 ), to( #0000 ) );
}

.round-text {
  vertical-align: middle;
  color: #fff;
  font-size: 21px;
  font-family: Radiance;
  /*text-shadow: 1px 1px 2px 2.5 #00000055;*/
  text-shadow: 1px 1px 1px 2.0 #2b2b2bb3;
}

.round-glowing {
  color: #FFDB6F;
  text-shadow: 0px 1px 16px 5 #CF5B15;
}


.round-label {
  text-transform: uppercase;
}

#round-name {
  font-size: 20px;
}

#round-value {
  font-family: RadianceM;
  margin-right: 10px;
  margin-left: 1px;
  transition-property: color, text-shadow;
  transition-duration: 0.7s;
  transition-timing-function: ease-out;
}