.sandbox-root {
  horizontal-align: right;
  height: 100%;
}

Label {
  font-family: Radiance;
  color: #fff;
  font-size: 16px;
  text-align: center;
  align: center center;
}

Button {
  padding: 7px 9px;
  width: fill-parent-flow(1.0);
  margin: 4px;
  background-color: #414159;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #474766 ), to( #303040 ) );
  border: 1px solid #69698c;
  transition-property: background-color;
  transition-duration: 0.12s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}

Button:hover {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #545473 ), to( #434359 ) );
}

.category {
  flow-children: down;
  width: 100%;
  margin-bottom: 18px;
}

.category-title {
  font-size: 19px;
  letter-spacing: 1px;
  color: #ababcf;
  horizontal-align: center;
  text-transform: uppercase;
}

.row {
  flow-children: right;
  width: 100%;
}

#sandbox-toggle > Label {
  font-size: 16px;
  margin-top: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#sandbox-toggle {
  box-shadow: fill #00000055 -2px -2px 5px 5px;
  padding: 6px 25px;
  margin-top: 0;
  width: fit-children;
  margin-right: 250px;
  border-top: 1px solid #545473;
  horizontal-align: right;
}

#sandbox-tab {
  vertical-align: middle;
  flow-children: down;
  box-shadow: #000000f5 -4px -4px 8px 8px;
  width: fit-children;
  border: 1px solid #161624f3;
  border-left: 1px solid #000;
  background-color: #21212efd;
  horizontal-align: right;
  margin-top: 100px;
  margin-bottom: 250px;
  z-index: 5;
  transition-property: transform;
  transition-duration: 0.32s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in-out;
}

#sandbox-tab.sandbox-tab-hidden {
  transform: translateX(100%);
}

.sandbox-header {
  width: 100%;
  background-color: #171721de;
  padding: 12px;
  border-bottom: 1px solid #ffffff05;
}

.sandbox-title {
  font-size: 21px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ebebff;
}

#sandbox-panel {
  flow-children: down;
  width: 345px;
  padding: 18px;
}

.sandbox-button {
  /*width: 130px;*/
  horizontal-align: center;
}

.sandbox-round {
  flow-children: right;
  width: fill-parent-flow(1.4);
  /*horizontal-align: center;*/
}

#round-buttons {
  flow-children: down;
  height: 37px;
}

.round-button {
  border: 0;
  padding: 2px;
  margin: 0;
  width: 15px;
  height: fill-parent-flow(1.0);
}

.round-button-icon {
  transform: rotateZ(90deg);
  height: 100%;
  width: 100%;
  background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
  background-size: contain;
  background-position: 50% 50%;
  wash-color: #b6b6db;
  background-repeat: no-repeat;
}

.round-decrement .round-button-icon {
  transform: rotateZ(-90deg);
}

#round {
  flow-children: right;
  vertical-align: middle;
  margin-right: -3px;
}

TextEntry {
  background-color: #43435955;
  border: 1px solid #5f5f7888;
  font-size: 20px;
  padding-left: 5px;
  padding-top: 6px;
  color: #bebed4;
  transition-property: background-color, border;
  transition-duration: 0.15s;
  transition-delay: 0.0s;  
}

#round-value {
  width: 35px;
  transition-timing-function: ease;
  height: 100%;
}

TextEntry:hover {
  border: 1px solid #5f5f78dd;
  background-color: #43435999;
}