.tutorial-root {
  width: 100%;
  height: 100%;
  background-color: #28283c88;
  transition-property: background-color;
  transition-duration: 0.35s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}

.tutorial-root.tutorial-hidden {
  background-color: #0000;
}

Label {
  font-family: Radiance;
  font-size: 17px;
  color: #ebebff;
}

#tutorial-toggle-button {
  vertical-align: bottom;
  horizontal-align: left;
  margin-left: 300px;
  margin-bottom: 5px;
  padding: 5px 22px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #646496 ), to( #1d1d2b ) );
  border: 2px solid #a1a1d4;
  box-shadow: #8999b066 -3px -3px 6px 6px;
  transition-property: background-color;
  transition-duration: 0.1s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}

#tutorial-toggle-button > Label {
  text-transform: uppercase;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  font-family: Radiance;
  color: #ebebff;
  letter-spacing: 1px;
}

#tutorial-toggle-button:hover {
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #7c7cba ), to( #1d1d2b ) );
}

#tutorial {
  width: 920px;
  height: 600px;
  margin-bottom: 100px;
  border: 1px solid #585875;
  border-radius: 3px;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #121217fd ), to( #2c2c40fd ) );
  align: center center;
  transform: translateZ(0);
  opacity: 1;
  transition-property: transform, opacity;
  transition-duration: 0.28s;
  transition-delay: 0.0s;
  transition-timing-function: ease-in-out;
}

#tutorial-button-close {
  height: 25px;
  width: 25px;
  margin: 5px;
  background-image: url("s2r://panorama/images/control_icons/x_close_png.vtex");
  background-size: cover;
  horizontal-align: right;
  wash-color: #8282ad;
  transition-property: wash-color;
  transition-duration: 0.1s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
  z-index: 2;
}

#tutorial-button-close:hover {
  wash-color: #b1b1ed;
}

.tutorial-inner {
  width: 100%;
  height: 100%;
  flow-children: down;
}

.tutorial-hidden #tutorial {
  transform: translateZ(-650px);
  opacity: 0;
}

.tutorial-container {
  width: 100%;
  flow-children: down;
}

.tutorial-menu {
  width: 100%;
  padding-top: 17px;
  padding-bottom: 17px;
  margin-bottom: 15px;
  /*border-bottom: 1px solid #ffffff03;*/
  /*background-color: gradient(linear, 0% 0%, 100% 100%, from(#0003), to(#000));*/
  background-color: #13131a;
}

.menu {
  horizontal-align: center;
}

#menu-list {
  flow-children: right;
}

.menu-line {
  width: 100%;
  height: 3px;
  margin: 0 12px;
  vertical-align: middle;
  background-color: gradient( linear, 100% 0%, 0% 0%, from( #41416311 ), color-stop( .3, #5b5b85 ), color-stop( .7, #5b5b85 ), to( #41416311 ) );
}

.menu-item-selected {
  border: 2px solid #d4bea1;
  box-shadow: #8999b077 -2px -2px 4px 4px;
}

.menu-item {
  height: 45px;
  width: 45px;
  margin: 0 14px;
  background-color: #7979ad;
  border-radius: 2px;
}

.menu-item > Label {
  align: center center;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color: #d9b375;
}

#tutorial-content {
  width: 100%;
  margin-top: 10px;
}

.content {
  flow-children: down;
  padding: 0 20px 40px;
  horizontal-align: center;
  visibility: collapse;
}

.content-active {
  visibility: visible;
}

#tutorial-title {
  background-color: gradient( linear, 100% 0%, 0% 0%, from( #41416300 ), color-stop(.2, #4a4a7020), color-stop( .4, #4a4a7088 ), color-stop( .6, #4a4a7088 ), color-stop(.8, #4a4a7020), to( #41416300 ) );
  horizontal-align: center;
}

.title-border {
  height: 2px;
  width: 100%;
  background-color: #9595DB;
  background-color: gradient( linear, 100% 0%, 0% 0%, from( #9595DB00 ), color-stop(.2, #9595DB09), color-stop( .4, #9595DB88 ), color-stop( .6, #9595DB88 ), color-stop(.8, #9595DB09), to( #9595DB00 ) );
}

.title-border.top {
  vertical-align: top;
}

.title-border.bottom {
  vertical-align: bottom;
}

#title-label {
  padding: 8px 150px 5px;
  text-align: center;
  text-shadow: 1px 1px 1px 2.0 #2b2b2bb3;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 28px;
  font-weight: bold;
}

.content-row {
  flow-children: right;
  margin-top: 35px;
  horizontal-align: center;
}

.content-image {
  height: 100%;
  width: 390px;
  margin-right: 22px;
  background-image: url("file://{resources}/images/custom_game/tutorial1.jpg");
  background-size: cover;
  opacity-mask: url("s2r://panorama/images/masks/softedge_box_png.vtex");
  saturation: 0.45;
  wash-color: #b4b4ef;
}

.content-column {
  max-width: 420px;
  margin: 0 15px;
  flow-children: down;
}

.content-subtitle {
  color: #e3e3ff;
  font-size: 22px;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.content-text {
  color: #9F9FCF;
  font-size: 20px;
  line-height: 29px;
}

.content-text-accent {
  font-size: 21px;
  line-height: 32px;
}

.key-word {
  color: #cca86e;
}

.content-img {
  height: 160px;
  margin-top: -15px;
  horizontal-align: center;
  transform: rotateZ(-15deg);
}

.tutorial-nav {
  align: center bottom;
  margin-bottom: 15px;
  border: 1px solid #7474a6;
  background-color: #7474a6;
  border-radius: 3px;
  flow-children: right;
}

.tutorial-nav-button {
  width: 50px;
  height: 30px;
  background-size: 22px;
  background-position: 50%;
  background-repeat: no-repeat;
  wash-color: #9d9dcc;
  background-color: #757585;
  transition-property: wash-color;
  transition-duration: 0.1s;
  transition-delay: 0.0s;
  transition-timing-function: linear;
}

.tutorial-nav-button:hover {
  wash-color: #ccf;
}

.tutorial-nav-button:disabled {
  wash-color: #83818a;
}

#tutorial-prev {
  background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
  margin-right: 1px;
}

#tutorial-next {
  background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
}